<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2>Search FODMAP Foods</h2>
    <form class="form-group" method="POST" action="{{ url_for('submitted') }}">
      {{ form.csrf_token }}
      {{ form.search_key.label }}
      {{ form.search_key }}
      {{ form.search_term.label }}
      {{ form.search_term }}
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
 </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

